/* Definindo o estilo básico */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #ff6f61;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.texto-grande p {
  font-size: 1.4rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto 30px;
}

/* Estilo para as imagens e o texto ao lado delas */
.imagem-texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  text-align: left;
  width: 100%; /* Garantir que o contêiner tenha 100% da largura disponível */
  box-sizing: border-box; /* Para evitar problemas de padding ou margin afetando o layout */
}

.imagem {
  width: 200px; /* Ajusta o tamanho da imagem */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  display: block; /* Para garantir que a imagem não tenha espaçamento indesejado */
}

.texto {
  font-size: 1.1rem;
  color: #333;
  max-width: 600px; /* Limita a largura do texto */
  line-height: 1.4;
  text-align: left; /* Alinha o texto à esquerda */
}

@media (min-width: 768px) {
  .imagem-texto {
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}
